#md-dialog-fsicon {
	width: 400px;
	height: 400px;
	overflow-x: hidden;
}

#md-dialog-fsicon .icon-item {
	position: relative;
	display: inline-block;
}

#md-dialog-fsicon .tooltip {
    display: none;
    position: absolute;
    padding: 4px;
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;
    top: 27px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    left: 50%;
    z-index: 99;
    white-space: nowrap;
    transform: translate(-50%,-50%);
}

#md-dialog-fsicon .icon-item:hover .tooltip {
	display: block;
}

#md-dialog-fsicon .md-dialog-content {
	padding: 10px;
	margin: auto;
	text-align: center;
	height: 100%;
}

#md-dialog-fsicon .material-icons {
	cursor: pointer;
	font-size: 30px;
	padding: 6px;
	color: #757575;
}

#md-dialog-fsicon md-dialog-actions {
	padding: 0 10px;
}

#md-dialog-fsicon button {
	width: 100%;
	margin: 0;
}

#md-dialog-fsicon md-input-container .md-errors-spacer {
	display: none;
}


#md-dialog-fsicon md-input-container {
	margin: 20px 10px 10px 10px;
}

#md-dialog-fsicon md-virtual-repeat-container {
	height: 100%;
}